VITE_API_GATEWAY_URL=https://xxxxxx.execute-api.ap-southeast-1.amazonaws.com/dev
VITE_COGNITO_USER_POOL_ID=ap-southeast-1_XXXXXXXXX
VITE_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_CLOUDFRONT_DOMAIN=dxxxxxxxxxxxx.cloudfront.net
